@page
@model Exito.App.Presentacion.Pages.CrudCompra.IndexModel

@{
    ViewData["Title"] = "Index";
    await Html.RenderPartialAsync("_Header");
    await Html.RenderPartialAsync("_SideMenu");
}


<div class="main">

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.Compra[0].Consola)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Compra[0].Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Compra[0].Empleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Compra[0].Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Compra[0].Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Compra[0].Finalizada)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Compra)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Consola.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empleado.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Finalizada)
                    </td>
                    
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.CompraId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.CompraId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.CompraId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>