@page
@model Exito.App.Presentacion.Pages.CrudVenta.IndexModel

@{
    ViewData["Title"] = "Index";
    await Html.RenderPartialAsync("_Header");
    await Html.RenderPartialAsync("_SideMenu");
}


<div class="main">

    <p>
        <a asp-page="Create" class="btn btn-primary">Create New <i class="fas fa-plus"></i></a>
    </p>
    <table class="table">
        <thead>
            <tr>
                
                <th>
                    @Html.DisplayNameFor(model => model.Venta[0].Consola)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venta[0].Cantidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venta[0].Empleado)
                </th>
                <th>
                    Valor Unidad
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venta[0].Total)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venta[0].Fecha)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Venta[0].Finalizada)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Venta)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Consola.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empleado.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Consola.precioVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Finalizada)
                    </td>
                    
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.EmpleadoId" class="btn btn-primary" title="Editar"><i class="fas fa-edit"></i></a>
                        <a asp-page="./Details" asp-route-id="@item.EmpleadoId" class="btn btn-secondary"  title="Datlles"><i class="fas fa-clipboard-list"></i></a>
                        <a asp-page="./Delete" asp-route-id="@item.EmpleadoId" class="btn btn-danger" title="Eliminar"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>