@page
@model Exito.App.Presentacion.Pages.CrudControl.IndexModel
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using Exito.App.Dominio;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string name = @HttpContextAccessor.HttpContext.Session.GetString("user");
}
@{
    Empleado Person = JsonConvert.DeserializeObject<Empleado>(name);
}
@{
    ViewData["Title"] = "Index";
    await Html.RenderPartialAsync("_Header");
    await Html.RenderPartialAsync("_SideMenu");
}


<div class="main">
    @if (!Person.Rol.Nombre.Equals("Vendedor"))
    {
        <p>
            <a asp-page="Create" class="btn btn-primary">Create New <i class="fas fa-plus"></i></a>
        </p>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Control[0].Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Control[0].Codigo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Control[0].Version)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Control[0].Fabricante)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Control[0].precioCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Control[0].precioVenta)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Control)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Version)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fabricante)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precioVenta)
                    </td>
                    <td>
                        @if (!Person.Rol.Nombre.Equals("Vendedor"))
                        {
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                        }
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-secondary"><i class="fas fa-clipboard-list"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>